
#desviación_estándarsi-no,
#tamaño_n,
#Desv_estandar,
#no_normaltamaño_n,
#no_normalDesv_estandar,  #result_nulo,
#result_t,
#result_z, #clean, #openModalBtn_result_t, #openModalBtn_result_z, #openModalBtn_result_nulo{
    display: none;
}

/* Division */
section{
    padding-left:252px;
   }
   
   

.ejercicios_button {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
}

.table {
    background-color: #e74c3c;
    width: 550px;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.img_probabilidad {
    text-align: center;
}

.tabla_title {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

html {
    scroll-behavior: smooth;
}

.Inferencia_estadística {
    background-color: #1e1e31;
    margin-top: 200px;
    padding-top: 200px;
}



.Distribución_Binomial {
    background-color: #1e1e31;
    margin-top: 200px;
    padding-top: 200px;
}

#result_z,
#result_t,
#result_nulo {
    
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.Variable_aleatoria {
    background-color: #1e1e31;
    margin-top: 200px;
    padding-top: 200px;
}

.Distribución_normal {
    background-color: #1e1e31;
    margin-top: 200px;
    padding-top: 200px;
}

.Clasificación_variables {
    background-color: #1e1e31;
    margin-top: 200px;
    padding-top: 200px;
}

.tlc {
    background-color: #1e1e31;
    margin-top: 200px;
    padding-top: 200px;
}

.intervalo_sect {
    background-color: #1e1e31;
    margin-top: 200px;
    padding-top: 200px;
}

.probabilidad {
    background-color: #1e1e31;
    margin-top: 200px;
    padding-top: 200px;
    color: white;
}

.p_probabilidad {
    color: white;
}

.titulos_h1 {
    margin-top: 100px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    word-spacing: 20px;
    letter-spacing: 10px;
}


/* BackToTop button css */

.result-container {
    margin-top: 0px;
}


.content_indice {
    background-color: #2c2c49;
    position: fixed;
    top: 0;
    border-radius: 0px 5px 5px 0px;

    height: 100%;
    width: 250px;
}

.salida {
    text-align: center;
}

h2 {
    color: #000;
    text-align: center;
}

h1 {
    color: #ffffff;
    text-align: center;
}

.buttons {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4,
h5 {
    text-align: center;
    margin-top: 50px;
    color: #fff
}

h3 {
    text-align: center;
    color: #fff;
    margin-top: 100px;
}

p {
    color: black;
    text-align: center;
    display: block;
    margin-left: auto !important;
    margin-right: auto;
}

.error-message {
    color: white;
    background-color: #ff7c00;
    width: 230px;
    border-radius: 10px;
    text-align: center;
}

input {
    border-style: solid;
    border-radius: 12px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

/* Paragraph */
.intro {
    color: #fff;
    width: 500px;
    height: 350px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    left: auto !important;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center;
}

.inter_z {
    color: white;
    width: 500px;
    height: 350px;
    display: flex;
    align-items: center;
    left: auto !important;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center;
}

.error-text {
    width: 19%;
    background-color: ff0000;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 10px;
}

body::-webkit-scrollbar-track {
    background: #161623;
    /* color of the tracking area */
}

/* Horizontal Rule */
hr {
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
    height: 2px;
}


body::-webkit-scrollbar-thumb {
    backdrop-filter: blur(10px);
    /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.3);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #161623;
    /* creates padding around scroll thumb */
}



/* Estilos para el contenido del modal */
.modal-content-p {
    background-color: #fbfdee;
    margin: 15% auto;
    padding: 20px;
    color: #000;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-height: 80%;
    /* Altura máxima del modal */
    overflow-y: auto;
    /* Agrega scroll en el contenido si es necesario */
}

/* Estilos para el botón de cerrar */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Estilos para el botón de cerrar cuando se pasa el mouse sobre él */
.close:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* Paragraph */
section p {
    width: 500px;
}

body {
    background-image: url("https://images.unsplash.com/photo-1695970922375-34520eca9bed?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNTc5fDB8MXxhbGx8MTEzMnx8fHx8fDJ8fDE2OTgxMjU3NTR8&ixlib=rb-4.0.3&q=80&w=2560") !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}

.btn {
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
}